<ion-view title="Promoções" id="page1" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="promoEs-card21">
            <ion-item id="promoEs-list-item6" class="  ">Nome do Produto</ion-item>
            <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <div class="item item-body " id="promoEs-list-item-container1">
                <p id="promoEs-null" style="margin-top:0px;color:#000000;" class=" ">Some friendly
                    <strong>markdown</strong>
                </p>
            </div>
        </div>
        <div class="list card " id="promoEs-card23">
            <ion-item id="promoEs-list-item11" class="  ">Nome do Produto</ion-item>
            <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <div class="item item-body " id="promoEs-list-item-container3">
                <p id="promoEs-markdown1" style="margin-top:0px;color:#000000;" class=" ">Some friendly
                    <strong>markdown</strong>
                </p>
            </div>
        </div>
        <div class="list card " id="promoEs-card24">
            <ion-item id="promoEs-list-item12" class="  ">Nome do Produto</ion-item>
            <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <div class="item item-body " id="promoEs-list-item-container4">
                <p id="promoEs-markdown2" style="margin-top:0px;color:#000000;" class=" ">Some friendly
                    <strong>markdown</strong>
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>